.inputs-row {
    display: flex;
    justify-content: space-between;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-form-field {
    flex: 1;
    margin-right: 10px;
  }
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .mat-form-field:last-child {
    margin-right: 0;
  }

  .example-form {
    min-width: 550px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 10000%;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
   
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .custom-title {
    font-size: 24px; /* Taille de police personnalisée */
    font-weight: bold; /* Gras */
    color: #25258d; /* Couleur personnalisée */
    text-align: center; /* Centrer le texte */
    margin-bottom: 20px; /* Espacement en bas */
  }
  .custom-width {
    width: 220px; /* Ajustez la largeur selon vos besoins */
  }